body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    color: #333;
}

header {
    background-color: cadetblue;
 color: white;
    text-align: center;
    padding: 40px 20px;
    
}
.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 20px auto;
}

section {
    background: pink;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #2c3e50;
}

.project {
    background: #ecf0f1;
    padding: 15px;
    margin-top: 10px;
    border-radius: 6px;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 15px;
    background: #ddd;
}
