body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    color: #333;
}
<style>
header {
    background-color: cadetblue;
 color: white;
    text-align: center;
    padding: 40px 20px;
    
}
.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 20px auto;
}
section {
  margin: 0px ;
  padding: 20px;
  background-color: #f8eaea;
  border-radius: 0px;
  max-width: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #2c3e50;
  color: white;
}

section {
    background: blanchedalmond;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;


h2 {
    color: #2c3e50;
}

.project {
    background: #ecf0f1;
    padding: 15px;
    margin-top: 10px;
    border-radius: 6px;
}
  #hobbies {
    background-color: #f0f0f0; /* light gray background */
    padding: 20px;
    border-radius: 10px;
    margin: 20px ;
  }

  #hobbies h2 {
    color: #333;
    font-family: Arial, sans-serif;
  }

  #hobbies ul {
    list-style-type: square; /* makes bullets square */
    padding-left: 20px;
  }

  #hobbies li {
    margin: 5px 0;
    font-size: 18px;
    color: #555;
  }

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 15px;
    background: #ddd;
}
</style>





